@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html{
  background-color: #070D0B;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}

body{
  width: 90%;
  margin: 0 auto;
  /* background-image: url('https://previews.123rf.com/images/msmoloko/msmoloko1703/msmoloko170300041/73213755-dark-tropical-background-with-jungle-plants-seamless-tropical-pattern-with-green-phoenix-palm-leaves.jpg'); */
  color: white;
  font-family: 'Montserrat', sans-serif;
}

a{
  /* color: #D4AF37; */
  color: white;
}

a:hover{
  color: #FABC02;
}

header{
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
h1{
  font-family: 'Dancing Script', serif;
  font-size: 60px;
}

h2{
  font-family: 'Dancing Script', serif;
  margin-bottom: 5px;
  font-size: 50px;
}

nav{
  margin: 0 auto;
}

nav ul{
  margin-left: -20px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  /* color: #003366; */
  font-size: 20px;
}

main{
  width: 90%;
  height: auto;
  margin: 0 auto;
}

footer{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

section{
  text-align: center;
}

#grid1{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
}

#grid2{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

#grid3{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

#grid4{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

#sect1{
  width: 80%;
  margin: 0 auto;
}

#map{
  width: 60%;
  margin: 0 auto;
}

#credit{
  color: #45B08C;
}

#note{
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#disclaimer{
  text-align: center;
}

#instafeed{
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.gallery{
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
