header{

}

nav{
  margin: 0 auto;
}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{

}

main{

}

footer{

}

#sect1{

}

#sect2{

}

#sect3{

}

#sect4{

}

#grid1{
  display: grid;
}

#grid2{
  display: grid;
}

#grid3{
  display: grid;
}

#grid4{
  display: grid;
}

#grid5{
  display: grid;
}
