@import "desktop.css";

header{
  height: auto;
}

nav ul li{
  margin-bottom: 5px;
}

#grid1{
  display: block;
}

#grid2{
  display: block;
}

#grid3{
  display: block;
}

#grid4{
display: block;
}
