@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

a{
  color: #003399;
  text-decoration: none;
}

a:hover{
  color: red;
}

h1{
  font-family: 'Lora', serif;
  text-align: center;
}

img{
  text-align: center;
  display: block;
  margin: 0 auto;
}

th{
  text-align: left;
}

address{
  color: #7d7d7d;
  text-align: center;
}

.header_margin{
  margin-bottom: 0;
  padding-bottom: 0;
}

.city{
  font-family: 'Montserrat', sans-serif;
}

#university{
  color: orange;
}

#miami{
  color: green;
}

#course{
  font-family: 'Lora', serif;
}

#semester{
  font-family: 'Lora', serif;
}

#linkedin{
  text-align: center;
}
